<!DOCTYPE html>
<html>
	<head>
		    <title>Spring Security SAML Example</title>
		    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
	</head>
	<body>
		<div class="login">
			<div>
				Spring Boot SAML Login
			</div>
			<form>
				<div>
					Product Id
				</div>
				<input type="text" name="product">
				<div>
					Tenant Id
				</div>
				<input type="text" name="tenant">
				<div>
					Email
				</div>
				<input type="email" name="email">
				<div>
					Password
				</div>
				<input type="password" name="password">
				<input type="submit" value="Submit">
			</form>
			<div class="login-footer">
				<a href="/">login as okta</a>
			</div>
		</div>
	</body>
</html>
